
.otherActions {
  width: 100%;
  justify-content: center;
  display: flex;

  button {
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      overflow: hidden;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}
