.git
.github
.idea
data
docker
node_modules
selenium
examples
.all-contributorsrc
.csslintrc
.editorconfig
.env.example
.gitignore
.jshintrc
.slugignore
*.md
conf.json
docker-compose.yml
Dockerfile
Procfile
protractor.conf.js
pg_data
ui/.next
ui/node_modules
api/node_modules
api/pg_data
api/data
api/maria_data
api/dist